body {
  background: url("../img/sayan-nath-_e64LcXU6GE-unsplash.jpg") no-repeat center
    center fixed;
  background-color: transparent;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: rgba(236, 232, 238, 0.7);
  display: flex;
  align-items: center;
  text-shadow: black 1px 0 10px;
}

/* Breakpoints */
/* 500px screen */
@media (min-width: 500px) {
  body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
  }
}
/* 4000px */
@media (min-width: 4000px) {
  body {
    background: url("../img/sayan-nath-_e64LcXU6GE-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
  }
  h1 {
    font-weight: 900;
    text-align: center;
    font-size: 80px;
  }
  p {
    font-weight: 700;
    font-size: 60px;
  }
}
.container {
  align-self: center;
  margin: 0 auto;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: rgb(50, 49, 50);
}

h1 {
  text-shadow: black 1px 0 10px;
  font-weight: 700;
  text-align: center;
}
footer {
  position: absolute;
  bottom: 0;
  left: 10;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}
footer a {
  text-shadow: rgb(71, 70, 72) 1px 0 10px;
}
footer a:hover {
  color: rgba(236, 232, 238, 0.7);
}
