h1 {
  text-align: center;
  font-weight: bold;
}

ul #menu li {
  display: inline;
}

body {
  background: rgb(67, 59, 98);
  background-image: url("../img/background-image.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: whitesmoke;
}
hr br {
  color: teal;
}

a:link {
  color: maroon;
}
a:visited {
  color: violet;
}
a:hover {
  color: grey;
}
