h1 {
  text-align: center;
  font-weight: bold;
}

ul#menu li {
  display: inline;
}

ul li#nav-selected {
  color: red;
}
ul li#nav-unselected {
  color: green;
}
body {
  background: rgb(67, 59, 98);
  background-image: url("../img/background-image.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: rgb(42, 57, 73);
}
hr br {
  color: teal;
}

p.footer {
  color: rgb(24, 3, 37);
}
